.git
.github
.venv
venv
__pycache__/
*.py[cod]
.pytest_cache/
.env
.env.*
*.log
*.tmp
*.temp

node_modules/
frontend/
assets/
tests/

coverage/
htmlcov/
evaluation_results/
data/
src/model_weight/
src/plots/

.ipynb_checkpoints/
*.ipynb
